#feed {
    height: 100%;
    max-height: 1000px;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

#feed::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

ul {
    list-style-type: none;
}
:hover {
    cursor: url(cursor.cur),auto;
}
div.collapse:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

div.card h2:hover {
    background-color: #dedede;
}

@media (max-width: 768px) {
    #bio {
        display: none;
    }
}

section {
    display: contents;
}

.login {
    max-width: 768px;
    text-align: space-around;
    margin: auto;
}
.btn .dropdown-toggle #menu {
    color: #0000aa;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.tay-form-style {
    position:relative;
    margin:auto;
    border-radius:20px;
    width:90%;
    height:auto;
    max-width:500px;
    padding:15px;
    box-sizing:border-box;
    box-shadow: 0px 5px 8px 3px rgba(0,156,15,0.5);
}

