<!DOCTYPE html>
<html>

<head>
    <title> Pet App </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        #feed {
            height: 100%;
            max-height: 500px;
            -ms-overflow-style: none;
            /* for Internet Explorer, Edge */
            scrollbar-width: none;
            /* for Firefox */
            overflow-y: scroll;
        }
        
        #feed::-webkit-scrollbar {
            display: none;
            /* for Chrome, Safari, and Opera */
        }
        
        ul {
            list-style-type: none;
        }
        
        div.collapse:hover {
            background-color: #eeeeee;
            cursor: pointer;
        }
        
        div.card h2:hover {
            background-color: #dedede;
        }
        
        @media (max-width: 768px) {
            #bio {
                display: none;
            }
        }
        
        section {
            display: contents;
        }
        
        .login {
            max-width: 768px;
            text-align: space-around;
            margin: auto;
        }
    </style>
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">

    </div>

    <script>
        Vue.component('Pet', {
            props: ['petName', 'petSpecies'],
            template: `<span class="text-left"> 
                <h4>{{PetName}}</h4>
                <p>{{PetSpecies}}</p>

            </span>`
        })
        Vue.component('Pet-List', {
            template: `<span>
                <ul>
                    <li v-for="pet in pets">
                        <Pet :petName="pet.petName" :petSpecies="pet.petSpecies"></Pet>
                    </li>
                </ul>
            </span>
                `,
            data() {
                return {
                    pets: [{
                        petName: 'Cleo',
                        petSpecies: 'Cat'
                    }, {
                        petName: 'Sylvester',
                        petSpecies: 'Cat'
                    }, {
                        petName: 'Tweety',
                        petSpecies: 'Cannary'
                    }]
                }
            }
        })
        Vue.component('post', {
            props: ['url', 'title', 'description'],
            template: '<span class="text-center"><h3> {{title}} </h3> <img v-bind:src="url" width="100%" height="40%"/><p>{{description}}</p></span>'

        });

        Vue.component('Post-List', {
            template: `
    <ul>
      <li v-for="r in results">
        <post :title="r.title" :url="r.url" :description="r.description"></post>
      </li>
    </ul>
  `,
            data() {
                return {
                    results: [{
                        url: 'Cat1.jpg',
                        title: 'On a Log',
                        description: 'Yes, bow to me peasants'
                    }, {
                        url: 'https://www.oakridgepointingdogs.com/wp-content/uploads/2016/04/english_Pointer.jpg',
                        title: 'It is over there',
                        description: 'Showing my human where the destardly squirrel is'
                    }]
                };
            }
        });
        Vue.component('userHome', {
            template: `
                <section>
                    <div class="col-4">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#userProfile" aria-expanded="false" aria-controls="userProfile">
                User Profile
              </button>
                        <div class="collapse p-2" id="userProfile">
                            <div class="card card-body">
                                <h2><i class="bi-search"></i> Search</h2>
                                <h2><i class="bi-plus-square"></i> Post </h2>
                            </div>
                        </div>
                        <div class="row m-2"></div>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#userPets" aria-expanded="false" aria-controls="userPets">
            Your Pets
          </button>
                        <div class="collapse p-2" id="userPets">
                            <div class="card card-body">
                                <h2>
                                    <i class="bi-square"></i> Show
                                </h2>
                                <h2>
                                    <i class="bi-plus-square "></i> Add
                                </h2>
                                <h2>
                                    <i class="bi-dash-square"></i> Remove
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-8 col-md-5" id="feed">
                        <span><Post-List></Post-List></span>
                    </div>
                    <div class="col-0 col-md-3" id="bio">
                        <p>Pet Bio will go here</p>
                    </div>
                </span>
            </section>`
        })
        Vue.component('LogInScreen', {

            template: `
            <div class="login">
                <div class="relative">
            <div class="row bg-dark text-white m-2">
                <nav class="nav nav-tabs">

                    <div class="col-4 m-1">
                    </div>
                    <div class="col-5 m-1">
                        <h1>
                            Login
                        </h1>
                    </div>
                    <div class="col-2 text-dark text-center">
                    </div>
                </nav>
            </div>

        </div>
    <div class="form-group login">
        <div class="row m-2 p-2">
            <div class="col-3 m-0 b-0 p-0">
                <label for="UserName">UserName</label>

            </div>
            <div class="col-8 b-0 m-0 p-0">
                <input type="email" class="form-control" id="UserName" aria-describedby="emailHelp" placeholder="Enter Username">
            </div>

        </div>
    </div>
    <div class="form-group login">
        <div class="row m-2 p-2">
            <div class="col-3 m-0 b-0 p-0">
                <label for="Password">Password</label>

            </div>
            <div class="col-8 b-0 m-0 p-0">
                <input type="password" class="form-control " id="Password" placeholder="Password ">
            </div>

        </div>
    </div>
    

    </div>
            `
        })
        var vm = new Vue({
            el: '#app',
            data: {
                LoggedIn: {
                    type: Boolean
                },
                status: '',
                page: ['Home', 'Pets', 'AddPet']
            },
            template: `
                <div class="container-fluid">
                    <div class="absolute">
                        <div class="row bg-light p-2 m-2">
                            <div class="login">
                            <div class="col-12 text-center">
                                 <h1> Pets </h1>
                            </div></div>
                               
                            </div>
    
                        </div>
                        <!--The main Body of the page-->
                        <section v-if="LoggedIn"> 
                    <div class="relative">
                <div class="row bg-dark text-white m-2">
                    <nav class="nav nav-tabs">

                        <div class="col-2 m-1">

                            <a href="#" class="nav-item nav-link">
                                <h2><i class="bi-house-door"></i> Home</h2>
                            </a>
                        </div>
                        <div class="col-4 m-1">
                            <a href="#" class="nav-item nav-link">
                                <h2><i class="bi-person"></i> Profile</h2>
                            </a>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-2 text-dark"><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-controls="userPets"><h2><i class="bi-menu"></i> Menu</h2></button><div class="collapse" id="menu"><div class="card card-body"><h2><span class="lgout" v-on:click="SignIn"> Logout</span></h2><h2>Info</h2><h2>Pets</h2><h2>Posts</h2></div> </div></div>
                    </nav>
                </div>

            </div>
            <div class="row bg-light text-dark m-2">
                        <userHome></userHome>
            </div>
        </section>
                        <section v-else> <LogInScreen></LogInScreen> <br>
                            <div class="login">
                            <div class="row">
                                <div class="col-1 "></div>
                                <div class="col-4 ">
                                    <button type="submit" class="btn btn-primary" v-on:click="SignIn">Submit</button>
                                </div>

                            </div>
                        </div></section>
                        <div class="footer text-center">
                            <h1>Contact</h1>
                            ldavids2@unb.ca
                            <br> tshort1@unb.ca
                            <br> tcampbe6@unb.ca
                            <br> Copyright 2022
                        </div>
                    </div>
                </div>
                `,
            methods: {
                SignIn: function() {
                    if (!this.LoggedIn) {
                        this.LoggedIn = true;
                    } else {
                        this.LoggedIn = false;
                    }
                },
                /* Axios will connect the backend
                from my understanding
                LoadPage: function() {
                    this.status = 'Loading...';
                    var vm = this;
                    axios.get()
                }
                */
                mounted() {
                    if (localStorage.LoggedIn) {
                        SignIn();
                    }
                },
                watch: {
                    LoggedIn(logged) {
                        localStorage.name = logged;
                    }
                }
            }
        });
    </script>
</body>

</html>
